# API Gateway Configuration
PORT=4000

# Microservice URLs
USER_SERVICE=http://localhost:8002
ORDER_SERVICE=http://localhost:5003
PAYMENT_SERVICE=http://localhost:5000
RESTAURANT_SERVICE=http://localhost:5008
REVIEW_SERVICE=http://localhost:8006
DELIVERY_SERVICE=http://localhost:3003
